<h3>Post a Comment</h3>

<%= form_for [ @article, @comment ]  do |f| %>
	<p>
		<%= f.label :author %>
		<%= f.text_field :author_name %>
	</p>
	<p>
		<%= f.label :comment %>
		<%= f.text_field :body %>
	</p>
	<p>
	<%= f.submit %>
	</p>
<%end%>